
body {
    width: 75%;
    height: auto;
    margin: auto;
     background: url(images/blue-bright-citrus-405031.jpg) no-repeat center center fixed;
     background-size: cover;
    
}
.nav-bar{
 width: 100%;
 z-index: 10;
}
.nav-links{
    display: flex;
    float: left;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    
}

.nav-btn{
    list-style-type: none;
    
    font-size: 15px;
    color: #ffd1dc;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-decoration: none;
    margin: 2em;
    transition: all 300ms;
}

.nav-btn:hover {
    transform: scale(1.1) rotate(5deg) translateX(10px);
}


 h1, h2, h3{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;

}
p{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.container {
    padding: 1em;
    display: grid;
    grid-gap: 10px, 5px;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: ". c c c c ."
                         "d d d e e e"
                         "d d d e e e"
                         "f f f g g g"
                         "f f f g g g"
                         ". . . . . ."; 



     /* height: 900px; */
}
.container > div {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.About-me{
    grid-area: c;
}
.Cartoons{
    grid-area: d;
}
.Music{
    grid-area: e;

}
.Art{
    grid-area: f;
}
.Tech{
    grid-area: g;
}
